.head{
    background-color: black;
    text-align: center;
    padding: 100px;
     color: white;
    font-size: 20px;
    height: 200px;

}
.btn{
   
    
    background-color:blue;
    padding: 10px ;
    color: white
    

}





.feature{
    border: 1px solid lightgray;


    border-radius: 7px; 
    margin: 10px;
    padding: 20px;
    text-align: center; 
    flex-direction: row;
   
}

.outer{
    display: grid;
/* flex-wrap: wrap; */
    justify-content: space-around;
    
    margin-top: 30px;
height: 250px;

width: auto

 

}









h2{
    text-align: center;
    padding-top: 0px;
}

.customer{
    text-align: center;
    background-color: lightgray;
    height: 200px;
    padding-top: 25px;
    h2 {
        font-size: 30px;
  font-family:'Times New Roman', Times, serif;
}
pre {
    font-size: 20px;
    font-family:'Times New Roman', Times, serif;
}
}

.footer{
    background-color: black;
    color: white;
    text-align: center;
    height: 100px;
    padding-top: 30px;
    width: auto
}

.container{
    /*  */
}







