h1{
    color: salmon;
    text-align: center;
}

/* input{
    background-color: lightpink;
}
textarea{
    background-color: lightpink;
} */

.pink{
    background-color: lightpink;
    padding: 5px;
    margin: 5px;
}