p{
    color: lightseagreen;
    text-align: center;
    font-size: 25px;
}
h1{
    color: darkslateblue;
    text-align:center;
    font-size: 50px;
}
#nav{
    display: flex;
    
    background-color: rgb(68, 66, 66);
    padding: 10px;
}

a{
    color:white;
    text-decoration: none;
    margin-right: 18px;
    
}
.logo{
    margin-right: 1600px;
    font-size: 21px;

    
}